
.all {
    background-image: linear-gradient(to right, #272525, #4b4a4a, #141414);
    border-radius: 6px;
    
    width: 400px;
    height: 360px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    
}

button { 
    width: 90px;
    height: 50px;

    border-radius: 60px;
    border-style: none;

    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
}

input {
    width: 366px;
    height: 40px;

    border: 1px solid #ccc;
    border-radius: 7px;
    border-style: none;

    margin-bottom: 10px;

    background-color: rgb(243, 243, 243);

    font-size: 20px;
    font-weight: bold;
    color: #4b4a4a;
}

.c {
    width: 278px;
    background-color: #c25454;
}

.zero {
    width: 184px;
}

.linha{
    display: flex;
    justify-content: center;

}

.igual{
    background-color: #c25454;
}

button:hover{
    background-color: #ccc;
}

.c:hover{
    background-color: rgb(180, 67, 67);
}

.igual:hover{
    background-color: rgb(180, 67, 67);
}

.op{
    background-color: #dddb5e;
}

.op:hover{
    background-color: #c0b733;
}